/* App.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  text-align: center;
}


.pb {
  background-color: #FBF0DF;

}

.pb1 {
  color: #F7EDBC;
  border-color: #FBF0DF;

}

.br {
  background-color: #EEAB43;
}